Main vesions of Python Version 2 and 3
Basic diffrence - Object oriented programing by default in 3, functional oriented programming in 2

dynamic variables - assign variable datatype automatically
basic datatypes - number and sring

indexing of string
s="Hello"
index start with 0 to 4
length starts at 1 = 5
index -1 will start string from last character
s[0][1][3]=h e l

function - type(variable)


2 vs 3
range - xrange

In [2]:
s="Hello"
s[0]

'H'

In [7]:
s="You are the best"
s[4:7] #slicing (end-1)

'are'

In [26]:
#s[1:10]
#s[::2] # Complete string lettere alternatively
#s[::-1] # Reverse printing of string
#s[-1:-10]
#s[-1:-10:-1]
#s[-10:-1]
#s[1:-10]
#s[:-10]
#s[-10:]

'tseb eht era uoY'

## String Metods

In [36]:
#String is immutable datatype
y="Abc"

#### Upper

In [37]:
print(y.upper())

ABC

#### Lower

In [40]:
print(y.lower())

abc

#### Find

In [46]:
a="Hello world"

In [49]:
a.find("llo") #will return index from it starts

2

In [48]:
a.find("z")

-1

#### Count

In [50]:
a.count("l")

3

#### replace

In [51]:
a.replace("l","L")

'HeLLo worLd'

In [52]:
a

'Hello world'

#### Len

In [35]:
print(len(y))

3

## Math Libary

In [54]:
import math
z=math.log(0.12)
z

-2.120263536200091

In [56]:
z=math.log10(0.36)
z

-0.44369749923271273

In [64]:
print(math.ceil(10.01))
print(math.floor(9.99))
print(math.exp(1))
print(math.modf(-2.14))
print(math.sqrt(100))
print(cmp(1,2)) # cmp(a,b) if a<b =-1 else if a=b =0 else a>b =+1
print(max(1,2,3))
print(min(1,2,3))

11.0
9.0
2.71828182846
(-0.14000000000000012, -2.0)
10.0
-1
3
1

## List Tuple Dictionaries

list and tuple are hetrogeneous datatypes

list [] - tuple(immutable, cant change single element inside tuple), list(mutable), dict, num, string 

tuple () - 

dict {} - Key value paired datatype, key must be unique, to get value inside a dictionary key needs to be unique, immutable datatypes are alllowed for key. tuple should have unique elements

## List

In [2]:
li=[]
type(li)

list

In [3]:
li=[1,2,3]
li

[1, 2, 3]

In [4]:
li=list()
li

[]

In [5]:
li=list((1,2,3))
li

[1, 2, 3]

In [6]:
li.append(5,6) #will give error
li

TypeError: append() takes exactly one argument (2 given)

In [75]:
li.append((5))
li

[1, 2, 3, (5, 6), 5]

In [74]:
li.extend(7) #will give error
li

TypeError: 'int' object is not iterable

In [80]:
li.extend((7,))
li

[1, 2, 3, (5, 6), 5, 8, 9, 7]

In [81]:
li.insert(0,-1)
li

[-1, 1, 2, 3, (5, 6), 5, 8, 9, 7]

In [82]:
li.remove(-1)
li

[1, 2, 3, (5, 6), 5, 8, 9, 7]

In [83]:
li.remove(-10) #will give error
li

ValueError: list.remove(x): x not in list

In [84]:
li.remove((5,6))
li

[1, 2, 3, 5, 8, 9, 7]

In [88]:
del li[0]
li

[8, 9, 7]

## Tuple

In [93]:
a=1,2,3
b=(2,3)
c=tuple([4,5,6])
d=a+b+c
print(a)
print(b)
print(c)
print(d)

(1, 2, 3)
(2, 3)
(4, 5, 6)
(1, 2, 3, 2, 3, 4, 5, 6)

In [92]:
y=("Hi","Ho")
y*2

('Hi', 'Ho', 'Hi', 'Ho')

In [95]:
a=(1,2,3)
print(1 in a)
print(4 in a)

True
False

## Dictionaries

In [105]:
a={1:"a",
  "b":2}
b=dict({})
c={"name":"alex",
  "age":5,
  "country":"USA"}
c["age"]=10
print(c)

{'country': 'USA', 'age': 10, 'name': 'alex'}

In [107]:
a={"name":"alex",
  "age":5,
  "country":"USA"}
print(a.keys())
print(a.values())
print(a.items())

['country', 'age', 'name']
['USA', 5, 'alex']
[('country', 'USA'), ('age', 5), ('name', 'alex')]