# MySQLdb

In [5]:
# mysql> show databases;
# +--------------------+
# | Database           |
# +--------------------+
# | information_schema |
# | employees          |
# | mysql              |
# | performance_schema |
# | sys                |
# +--------------------+
# 5 rows in set (0.00 sec)

# mysql> CREATE DATABASE test;
# Query OK, 1 row affected (0.06 sec)

# mysql> show databases;
# +--------------------+
# | Database           |
# +--------------------+
# | information_schema |
# | employees          |
# | mysql              |
# | performance_schema |
# | sys                |
# | test               |
# +--------------------+
# 6 rows in set (0.00 sec)

# mysql> use test;
# Database changed

#### Creating Table

In [10]:
import MySQLdb
db = MySQLdb.connect("127.0.0.1", "root", "123456",
                     "test")  # instead of localhost use 127.0.0.1
cursor = db.cursor()
cursor.execute("DROP TABLE IF EXISTS STUDENT")
sql = """CREATE TABLE STUDENT (FIRST_NAME CHAR(20) NOT NULL, LAST_NAME CHAR(20), AGE INT, SEX CHAR(1), PERCENTAGE FLOAT)"""
cursor.execute(sql)
db.commit()
db.close()

In [ ]:
# mysql> show tables;
# +----------------+
# | Tables_in_test |
# +----------------+
# | student        |
# +----------------+
# 1 row in set (0.00 sec)

#### Inserting record

In [11]:
import MySQLdb
db = MySQLdb.connect("127.0.0.1", "root", "123456",
                     "test")  # instead of localhost use 127.0.0.1
cursor = db.cursor()

sql = """INSERT INTO STUDENT(FIRST_NAME, LAST_NAME, AGE, SEX, PERCENTAGE) VALUES ('Mac','Mohan',20,'M',56)"""

try:
    cursor.execute(sql)
    db.commit()
except:
    db.rollback()
finally:
    db.close()

In [ ]:
# mysql> select * from student;
# +------------+-----------+------+------+------------+
# | FIRST_NAME | LAST_NAME | AGE  | SEX  | PERCENTAGE |
# +------------+-----------+------+------+------------+
# | Mac        | Mohan     |   20 | M    |         56 |
# +------------+-----------+------+------+------------+
# 1 row in set (0.02 sec)

#### Inserting Dynamic Values

In [12]:
import MySQLdb
db = MySQLdb.connect("127.0.0.1", "root", "123456",
                     "test")  # instead of localhost use 127.0.0.1
cursor = db.cursor()

sql = "INSERT INTO STUDENT(FIRST_NAME, LAST_NAME, AGE, SEX, PERCENTAGE) VALUES ('%s','%s','%d','%c','%f')" % (
    'John', 'Dave', 30, 'M', 66)

try:
    cursor.execute(sql)
    db.commit()
except:
    db.rollback()
finally:
    db.close()

#### Select Statement

In [17]:
import MySQLdb
db = MySQLdb.connect("127.0.0.1", "root", "123456",
                     "test")  # instead of localhost use 127.0.0.1
cursor = db.cursor()

sql = "SELECT * FROM STUDENT WHERE PERCENTAGE = '%f'" % (56)

try:
    cursor.execute(sql)
    results = cursor.fetchall()
    for row in results:
        fname = row[0]
        lname = row[1]
        age = row[2]
        sex = row[3]
        print("{fname} {lname} {age} {sex}".format(
            fname=fname, lname=lname, age=age, sex=sex))
    db.commit()
except:
    db.rollback()
finally:
    db.close()

Mac Mohan 20 M

#### Update record

In [ ]:
# mysql> select * from student;
# +------------+-----------+------+------+------------+
# | FIRST_NAME | LAST_NAME | AGE  | SEX  | PERCENTAGE |
# +------------+-----------+------+------+------------+
# | Mac        | Mohan     |   20 | M    |         40 |
# | John       | Dave      |   30 | M    |         45 |
# | Jane       | Bold      |   30 | F    |         40 |
# | Gran       | Hana      |   31 | F    |         40 |
# +------------+-----------+------+------+------------+
# 4 rows in set (0.00 sec)

In [22]:
import MySQLdb
db = MySQLdb.connect("127.0.0.1", "root", "123456",
                     "test")  # instead of localhost use 127.0.0.1
cursor = db.cursor()

sql = "UPDATE STUDENT SET PERCENTAGE =41 WHERE PERCENTAGE < '%f'" % (45)
try:
    cursor.execute(sql)
    print(cursor.rowcount)
    db.commit()
except:
    db.rollback()
finally:
    db.close()

3

In [ ]:
# mysql> select * from student;
# +------------+-----------+------+------+------------+
# | FIRST_NAME | LAST_NAME | AGE  | SEX  | PERCENTAGE |
# +------------+-----------+------+------+------------+
# | Mac        | Mohan     |   20 | M    |         41 |
# | John       | Dave      |   30 | M    |         45 |
# | Jane       | Bold      |   30 | F    |         41 |
# | Gran       | Hana      |   31 | F    |         41 |
# +------------+-----------+------+------+------------+
# 4 rows in set (0.00 sec)