# SQLite

In [1]:
import sqlite3

In [2]:
sqlite3.version

'2.6.0'

In [3]:
sqlite3.sqlite_version

'3.14.2'

#### Creating Database

In [8]:
import sqlite3
db = sqlite3.connect('test.db')
db.close()

#### Creating Table

In [ ]:
import sqlite3
db = sqlite3.connect('test.db')
cursor = db.cursor()
cursor.execute(''' CREATE TABLE books(id INTEGER PRIMARY KEY, title TEXT, author TEXT, price TEXT, year TEXT)''')
db.close()

# DROP table books
#cursor.execute(''' DROP table books ''')

#### Inserting data

In [11]:
import sqlite3
db = sqlite3.connect('test.db')
cursor = db.cursor()

title1='Python Basics'
author1='Mark'
price1='100USD'
year1='2016'

title2='Python Advanced'
author2='July'
price2='150USD'
year2='2018'

cursor.execute(''' INSERT INTO books(title, author, price, year) VALUES (?,?,?,?)''',(title1,author1,price1,year1))
cursor.execute(''' INSERT INTO books(title, author, price, year) VALUES (?,?,?,?)''',(title2,author2,price2,year2))

db.commit()
db.close()

# .tables used to check tables in db

#### Using place holder for inserting data

In [14]:
import sqlite3
db = sqlite3.connect('test.db')
cursor = db.cursor()

title3='Python Expert'
author3='Linda'
price3='200USD'
year3='2018'

cursor.execute(''' INSERT INTO books(title, author, price, year) VALUES (:title, :author, :price, :year)''',{'title':title3, 'author':author3, 'price':price3, 'year':year3})

db.commit()
db.close()

# .tables used to check tables in db

In [ ]:
# sqlite> .table
# books
# sqlite> .mode column
# sqlite> .headers on
# sqlite> select * from books;
# id          title          author      price       year
# ----------  -------------  ----------  ----------  ----------
# 1           Python Basics  Mark        100USD      2016
# 2           Python Advanc  July        150USD      2018
# 3           Python Expert  Linda       200USD      2018

In [33]:
import sqlite3
db = sqlite3.connect('test.db')
cursor = db.cursor()

cursor.execute('''SELECT title,author,price FROM books''')


#book1 = cursor.fetchone()
#print book1

all_cols = cursor.fetchall()
for row in all_cols:
    print('{0} : {1}, {2}'.format(row[0], row[1], row[2]))

db.commit()
db.close()

Python Basics : Mark, 100USD
Python Advanced : July, 150USD
Python Expert : Linda, 180USD

#### Update

In [31]:
import sqlite3
db = sqlite3.connect('test.db')
cursor = db.cursor()

new_price = "180USD"
book_id = 3

cursor.execute('''UPDATE books SET price = ? WHERE id = ?''',(new_price,book_id))

db.commit()
db.close()

#### Delete

In [34]:
import sqlite3
db = sqlite3.connect('test.db')
cursor = db.cursor()

delete_id = 1
cursor.execute('''DELETE FROM books WHERE id = ?''', (delete_id,))

db.commit()
db.close()

In [ ]:
# sqlite> select * from books;
# id          title            author      price       year
# ----------  ---------------  ----------  ----------  ----------
# 2           Python Advanced  July        150USD      2018
# 3           Python Expert    Linda       180USD      2018